* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0f172a;
  color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.nav .btn {
  background: #38bdf8;
  padding: 6px 12px;
  border-radius: 5px;
  color: #000;
}

.nav .btn:hover {
  background: #0ea5e9;
  box-shadow: 0 4px 6px rgba(157, 159, 188, 0.7);
  color: #fff;
}

/* Hero */
.hero {
  height: 80vh;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 15px 0;
}

.hero .btn {
  background: #38bdf8;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* About */
.about {
  padding: 50px;
  text-align: center;
}

/* Categories */
.categories {
  padding: 50px;
  background: #f1f5f9;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.category {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.category:hover {
  background: #0ea5e9;
  box-shadow: 0 4px 6px rgba(157, 159, 188, 0.7);
  color: #fff;
}

/* Contact Form */

.contact{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact h2{
    text-align: center;
    margin-bottom: 1rem;
}
.contact-form {
  max-width: 500px;
  margin: 3.5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 1rem 0;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;

}

.contact-form textarea {
  resize: none;
}

.contact-form .btn {
  background: #38bdf8;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form .btn:hover {
  background: #0ea5e9;
  box-shadow: 0 4px 6px rgba(157, 159, 188, 0.7);
  color: #fff;
}


/* Footer */
.footer {
  background: #0f172a;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .hero h1 {
    font-size: 28px;
  }
}
